body{
    margin: 0;
    background-color: 	#202020;
}

.inputs{
    text-align: center;
    padding: 2%;
    margin-top: 6%;
    display: flex;
    margin-left: 4%;
}

.text_input{
    width: 80%;
    font-size: 1.1em;
    height: 4.5vh;
    border: none;
    border-radius: 1.5px;
    font-family: 'Source Sans Pro', sans-serif;
    box-shadow: 4px 4px 4px black;
}

.add_button{
    font-family: 'Epilogue', sans-serif;
    border: 0.5px solid black;
    height: 5.2vh;
    box-shadow: 2px 2px 2px black;
    border-radius: 3px;
    width: 13%;
    margin-left:1.5%;
}

.tasks_grid{
  overflow-y: scroll;
  height: 75vh;
}

.task_element{
    background-color: gainsboro;
    width: 85%;
    margin-top: 4%;
    overflow: auto;
    margin-left: 7%;
    padding-left: 1%;
    border-radius: 6px;
    box-shadow: 3px 3px 3px #282828;
}

.task_description{
    font-family: 'Varela Round', sans-serif;
    float: left;
    margin-left: 1%;
    padding-top: 1.2%;
    padding-bottom: 1.2%;
}

.delete_task{
    float: right;
    cursor: pointer;
    background-color: #B80000;
    padding-right: 6%;
    padding-left: 6%;
    margin: 0;
    padding-top: 1.4%;
    padding-bottom: 1.4%;
    font-family: 'Valera Round', sans-serif;
}
