body {
    background-color: #2f2f2f;
}

.inputs{
    width: 100%;
    text-align: center;
    margin-top: 8%;
}

input[type=text]{
    width: 80%;
}

.add_task{
    border: none;
    border-radius: 4px;
    height: 1.6em;
    width: 2em;
    background-color: green;
}